body {
background-color: #33475b;
}

#pageheading {
color:white;
text-align:center;
}

.container-fluid { background-color: rgb(217, 222, 229); text-align:center;}

a{
  color: white;
  text-decoration: underline;
}

li {
  color: black;
  list-style-type: none;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(94,95,97);
  font-weight: bold;
  color: rgb(237, 240, 246);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

.node.selected{
    fill: #00ffd0;
  }

text {
font-weight: 300;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 10px;
}

.node rect {
stroke: #999;
fill: #fff;
stroke-width: 2px;
}

.node rect{
cursor: pointer;
}

.node rect text{
cursor: pointer;
}

.edgePath path {
stroke: #333;
stroke-width: 2px;
}

.visible{
opacity: 1 !important;
}

.invisible{
opacity: 0 !important;
}