<!doctype html>

<html lang="en">

  <meta charset="utf-8">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Track Domain Object lineage</title>
  </head>
  <body>
  <br>
  <h3> Please provide the date for which you want to explore the changes along the lineage </h3>
  <br>
  {%  block main %}
    <div class="container-fluid">
      <form action="{{ url_for('home') }}" method="post">
          {{ form.csrf_token }}
          <div class="col">
              {{ form.lineagerequestedfordate(class="form-control") }}
          </div>
          <div class="col">
              {{ form.submit(class="btn btn-primary") }}
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}
          </div>
      </form>
    </div>
  {% endblock %}
  <br>
  </body>
</html>
